<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form action="" method="post">
	<p>
	    <label for="mail">Почта</label>
	    <input type="text" name="mail" maxlength="50">
	</p>
	<p>
	    <label for="password">Пароль</label>
	    <input type="password" name="password" maxlength="20">
	</p>
	<p>
	    <label for="name">Имя</label>
	    <input type="text" name="name" maxlength="15">
	</p>
	<p>
	    <label for="surname">Фамилия</label>
	    <input type="text" name="surname" maxlength="15">
	</p>
	<p>
	    <label for="patronymic">Отчество</label>
	    <input type="text" name="patronymic" maxlength="20">
	</p>
	<p>
	    <label for="passport_number">Номер паспорта</label>
	    <input type="text" name="passport_number" maxlength="10">
	</p>
	<p>
	    <label for="international_passport_number">номер загранпаспорта</label>
	    <input type="text" name="international_passport_number" maxlength="9">
	</p>
	<p>
	    <label for="phone_number">Номер телефона</label>
	    <input type="text" name="phone_number" maxlength="12">
	</p>
	<p>
	    <input type="submit">
	</p>
    </form>
</body>
</html>